<img class="base-img" [src]="baseImage">


<ng-container *ngIf="!trainUnit; then ownerTemplate; else enemyTemplate"></ng-container>
<ng-template #ownerTemplate>
    <div class="action-panel" >
        <span>Units Stationed at Base</span>
        <div class="armies-wrapper">
            <div class="armies" *ngFor="let armyCount of units; let i = index">
              {{armyCount}}
            </div>
          </div>

          <button class="button train" (click)="toggleTrainPanel()">
            Train
          </button>
</div>
</ng-template>
<ng-template #enemyTemplate>
  <app-train-units></app-train-units>
</ng-template>



