<!-- <img class="base-img" [src]="baseImage">


<ng-container *ngIf="isBaseOwner; then ownerTemplate; else enemyTemplate"></ng-container>
<ng-template #ownerTemplate>
    <div class="action-panel" >
        <span>Units Stationed at Base</span>
        <div class="armies-wrapper">
            <div class="armies" *ngFor="let armyCount of units; let i = index">
              {{armyCount}}
            </div>
          </div>
</div>
</ng-template>
<ng-template #enemyTemplate>
    
</ng-template>
 -->


 <app-train-units></app-train-units>
