<div class="header">
  <app-header></app-header>
</div>
<router-outlet></router-outlet>
<!-- <div class="continent-div">
  <img class="continent-routes first" src="assets/australia.jpg" />
  <img class="continent-routes selected-continent" src="assets/australia.jpg" />
  <img class="continent-routes" src="assets/australia.jpg" />
  <img class="continent-routes" src="assets/australia.jpg" />
  <img class="continent-routes last" src="assets/australia.jpg" />
</div> -->

<div class="left-menu">
  <app-left-nav></app-left-nav>
</div>

<div class="chat-window">
  <app-chat-window></app-chat-window>
</div>
