
<div class="grid-container">
  <div class="grid-item" *ngFor="let item of numSequence(noOfBase);let i=index">
    <span (click)="openBaseDialog(i)" ><i class="fa-solid fa-plus"></i></span>
  </div>
</div>
<div class="distict-details">
  <div class="heading">({{tile.q}},{{tile.r}}) </div>
  <div>Armies in Area</div>
  <div class="armies-wrapper">
    <div class="armies">
      {{ ownArmy }}
    </div>
    <div class="armies"
      *ngFor="let armyCount of armies; let i = index"
      (click)="onArmySelection(i)"
    >
      {{ armyCount }}
    </div>
  </div>

  <div *ngIf="selectedArmy">Enemy's Army</div>
  <div *ngIf="selectedArmy" class="unit-wrapper">
    <div
      class="units"
      *ngFor="let unit of selectedArmy; let i = index"
      (click)="onArmySelection(i)"
    >
      {{ unit.unit }}
    </div>
  </div>
</div>
