:host {
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

mat-dialog-content {
  flex-grow: 1;
}

.base-wrapper {
  display: flex;
  background: linear-gradient(0.33turn, #169dd6, #1668aa, #1777a0, #1668aa);
  border: 3px solid #60f4ff;
  border-radius: 10px;
}

.base {
  height: 100%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.base-details {
  height: 100%;
  min-width: 250px;
  width: 300px;
}

.base-details-header {
  border-bottom: 1px solid #3fe2ff;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.fa-share-nodes {
  color: #60f4ff;
}
