:host {
  display: flex;
  flex-direction: row;
  width: 800px;
  min-height: 50vh;
  min-width: 200px;
  align-items: center;
  background-color: #969595;
  border: 3px solid white;
  border-radius: 15px;
}

.container {
  width: 70%;
}

.center-distict {
  position: relative;
  left: 20px;
}

.hexa {
  --s: 500px;
  position: relative;
  width: var(--s);
  height: calc(var(--s)*0.7);
  background: #386405;
  -webkit-clip-path: polygon(25% 0%, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin: -1px;
}

.main-outside {
  position: relative;
  width: 66px;
  height: 58px;
  display: inline-block;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #434408;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
  margin: -12px -2px -10px 0px;
}

.main-inside {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-image: url("../../../assets/dirt.png");
  background-repeat: repeat;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.distict-name {
  color: #fff;
  font-weight: 600;
}

.distict-sidebar {
  background-color: #919191a1;
  height: 70vh;
  width: 412px;
  position: absolute;
  right: 12%;
  top: 20%;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.distict-details {
  min-width: 300px;
  width: 30%;
  background-color: #ffffff00;
  min-height: 50vh;
  border-left: 2px solid white;
}

.heading {
  padding: 5px;
  background: white;
  border-top-right-radius: 10px;
}

.armies-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.armies {
  background: aqua;
  border: 1px solid #2017174d;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  justify-content: left;
}


.unit-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.units{
  background: #fd7a22;
  border: 1px solid #2017174d;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  justify-content: left;
}