<div class="container">
  <div class="center-distict" *ngFor="let grid of gridArray; let i = index">
    <div class="main-outside" (click)="onClick(i,j)" *ngFor="let item of [].constructor(grid); let j = index"
      [ngStyle]="{'left': getStartingMargin(grid, 7)+'px'}">
      <div class="main-inside"></div>
    </div>
  </div>
</div>

<div class="distict-details">
  <div class="heading">
    Australia / {{tileID}}
  </div>
  <div>Armies in Area</div>
  <div class="armies-wrapper">
    <div class="armies">
      {{ownArmy}}
    </div>
    <div class="armies" *ngFor="let armyCount of armies; let i = index" (click)="onArmySelection(i)">
      {{armyCount}}
    </div>
  </div>

  <div *ngIf="selectedArmy">Enemy's Army </div>
  <div *ngIf="selectedArmy" class="unit-wrapper">
    <div class="units" *ngFor="let unit of selectedArmy; let i = index" (click)="onArmySelection(i)">
      {{unit.unit}}
    </div>

  </div>
</div>