.wrapper {
  background: linear-gradient(0.33turn, #3f87a6, #287cc0, #387fac, #2af1d7);
  height: 50vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50%;
  transition: all 0.2s ease-in-out;
}

.wrapper:hover {
  width: 100%;
  /* transform: scale(1.1); */
}
