html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100% !important;
  margin: 0px !important;
  overflow-y: hidden;
}

button {
  cursor: pointer;
}

.cdk-global-scrollblock {
  overflow: hidden;
}
