.canvas{
    width: 100% !important;
    height: 100vh !important;
    margin: 0px;
}

img{
    width: 1013px;
    height: 723px;
    position: absolute;
    left: 100px;
    top: 100px;
    opacity: 0.3;
}